@charset "UTF-8";
/* ===============================================
# 変数
=============================================== */
/* ===============================================
# メディアクエリ
=============================================== */
/* ===============================================
# 子ページヘッダー(pages header)
=============================================== */
.ph {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: #ffffff;
  top: 0;
}
.ph-container {
  max-width: 1980px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ph-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ph-logo {
  padding: 16px 0 20px 23px;
}
.ph-logo a {
  display: block;
  max-width: 200px;
}
@media screen and (max-width: 599px) {
  .ph-logo a {
    max-width: 150px;
  }
}
.ph-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 120px;
}
@media screen and (max-width: 1024px) {
  .ph-links {
    margin-left: 40px;
  }
}
@media screen and (max-width: 599px) {
  .ph-links {
    display: none;
  }
}
.ph-link {
  color: #000000;
}
.ph-link:nth-of-type(n + 2) {
  margin-left: 1.9rem;
}
.ph-btn {
  display: block;
  color: #ffffff;
  padding: 17px 37px 17px 69px;
  margin: 11px 20px 12px;
  background-color: #978f10;
  position: relative;
}
@media (hover: none) {
  .ph-btn {
    /* hoverが使えないタッチ端末を想定した装飾を記載（&:active使用する） */
  }
  .ph-btn:active {
    opacity: 0.8;
  }
}
@media screen and (max-width: 599px) {
  .ph-btn {
    margin: 0;
  }
}
@media screen and (max-width: 1024px) {
  .ph-btn {
    border-radius: 10px;
    padding: 17px 5px 17px 25px;
    margin-left: 0;
  }
}
@media screen and (max-width: 599px) {
  .ph-btn {
    display: none;
  }
}
.ph-btn:before {
  position: absolute;
  top: 16px;
  left: 40px;
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: middle;
  background-image: url(../../../../images/header-btn-icon.png);
  background-position: 0 0;
  background-size: contain;
}
@media screen and (max-width: 599px) {
  .ph-btn:before {
    top: 17px;
    left: 6px;
    width: 16px;
    height: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .ph-btn:before {
    top: 17px;
    left: 6px;
    width: 16px;
    height: 16px;
  }
}
.ph-toggle {
  display: none;
}
@media screen and (max-width: 599px) {
  .ph-toggle {
    display: block;
    padding: 20px;
    cursor: pointer;
  }
  .ph-toggle .toggle-btn {
    position: relative;
    width: 40px;
    height: 30px;
  }
  .ph-toggle .toggle-btn span {
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .ph-toggle .toggle-btn span:nth-of-type(1) {
    top: 0;
  }
  .ph-toggle .toggle-btn span:nth-of-type(2) {
    top: calc(50% - 1px);
  }
  .ph-toggle .toggle-btn span:nth-of-type(3) {
    bottom: 0;
  }
  .ph-toggle .toggle-btn._active span {
    background-color: #000000;
  }
  .ph-toggle .toggle-btn._active span:nth-of-type(1) {
    width: 50%;
    -webkit-transform: translate3d(3px, 6px, 0) rotate(45deg);
            transform: translate3d(3px, 6px, 0) rotate(45deg);
  }
  .ph-toggle .toggle-btn._active span:nth-of-type(2) {
    -webkit-transform: translate3d(-1px, 0, 0) rotate(-45deg);
            transform: translate3d(-1px, 0, 0) rotate(-45deg);
  }
  .ph-toggle .toggle-btn._active span:nth-of-type(3) {
    width: 51%;
    -webkit-transform: translate3d(17px, -7.5px, 0) rotate(45deg);
            transform: translate3d(17px, -7.5px, 0) rotate(45deg);
  }
  .ph-toggle .toggle-btn span {
    background-color: #000000;
  }
}

.top-container {
  margin-top: 80px;
  background-image: url(../../../../images/feature-top.png);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  position: relative;
}
@media screen and (max-width: 599px) {
  .top-container {
    margin-top: 70px;
  }
}
.top-text {
  font-size: 2.125rem;
  font-weight: 800;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.content-container {
  width: 100%;
  max-width: 1212px;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 9.78125rem;
}
.content-nav {
  margin-top: 2.125rem;
  margin-bottom: 5.5rem;
}
.content-breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content-link:nth-of-type(1) {
  margin-right: 1.5rem;
  position: relative;
}
.content-link:nth-of-type(1)::after {
  content: ">";
  display: inline-block;
  position: absolute;
  left: 54px;
  top: 3px;
}
@media screen and (max-width: 1024px) {
  .content-link:nth-of-type(1)::after {
    top: 0;
    left: 48px;
  }
}
@media screen and (max-width: 599px) {
  .content-link:nth-of-type(1)::after {
    top: 1;
    left: 45px;
  }
}
.content-message {
  text-align: center;
  line-height: 2;
  margin-bottom: 8rem;
  padding: 0 2%;
}
@media screen and (max-width: 599px) {
  .content-message {
    text-align: left;
  }
  .content-message br {
    display: none;
  }
}
.content-item {
  position: relative;
}
.content-item:not(:last-child) {
  margin-bottom: 8.8rem;
}
@media screen and (max-width: 1024px) {
  .content-item:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.content-item .content-textbox {
  position: static;
  z-index: 50;
  top: 0;
  margin-top: 3.5625rem;
  max-width: 813px;
  background-image: url(../../../../images/concept-bg.png);
  background-repeat: repeat;
  background-position: 0 0;
  background-size: cover;
}
@media screen and (max-width: 1212px) {
  .content-item .content-textbox {
    max-width: 700px;
  }
}
@media screen and (max-width: 1024px) {
  .content-item .content-textbox {
    margin-left: auto;
    margin-right: auto;
    max-width: none;
    color: #ffffff;
    text-shadow: 1px 2px 3px #808080;
  }
  .content-item .content-textbox br {
    display: none;
  }
}
.content-item .content-image {
  position: absolute;
  top: -60px;
  z-index: 60;
  width: 525px;
  max-height: 300px;
  margin-bottom: 138px;
}
@media screen and (max-width: 1212px) {
  .content-item .content-image {
    width: 40%;
  }
}
@media screen and (max-width: 1024px) {
  .content-item .content-image {
    display: none;
  }
}
.content-item:nth-of-type(odd) .content-textbox {
  margin-left: auto;
  padding: 55px 16% 155px 20%;
}
@media screen and (max-width: 1212px) {
  .content-item:nth-of-type(odd) .content-textbox {
    padding: 55px 0 120px 13%;
  }
}
@media screen and (max-width: 1024px) {
  .content-item:nth-of-type(odd) .content-textbox {
    background-image: url(../../../../images/feature-image1.png);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    padding: 20% 5%;
  }
}
.content-item:nth-of-type(odd) .content-image {
  left: 0;
}
.content-item:nth-of-type(even) .content-textbox {
  margin-right: auto;
  padding: 55px 13% 155px 5%;
}
@media screen and (max-width: 1212px) {
  .content-item:nth-of-type(even) .content-textbox {
    padding: 55px 13% 120px 5%;
  }
}
@media screen and (max-width: 1024px) {
  .content-item:nth-of-type(even) .content-textbox {
    background-image: url(../../../../images/feature-image2.png);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    padding: 20% 5%;
  }
}
.content-item:nth-of-type(even) .content-image {
  right: 0;
}
.content-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 1024px) {
  .content-title {
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
  }
}
.content-text {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 2;
  white-space: nowrap;
}
@media screen and (max-width: 1024px) {
  .content-text {
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    white-space: normal;
  }
}

.desc-container {
  width: 100%;
  max-width: 1212px;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5.9rem;
  padding-bottom: 4.625rem;
  border-top: #e7e7e7 1px solid;
  border-bottom: #e7e7e7 1px solid;
  margin-bottom: 6.03125rem;
}
.desc-title {
  font-size: 1.625rem;
  text-align: center;
  margin-bottom: 2.8rem;
}
.desc-list {
  padding: 0 12.7% 0 12.7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 599px) {
  .desc-list {
    display: block;
  }
}
.desc-term {
  line-height: 1.3125;
  padding: 15px 0;
  width: 25%;
  font-size: 0.9375rem;
  border-top: 1px solid #e7e7e7;
}
.desc-term:last-of-type {
  border-bottom: 1px solid #e7e7e7;
}
@media screen and (max-width: 599px) {
  .desc-term:last-of-type {
    border-bottom: none;
  }
}
@media screen and (max-width: 599px) {
  .desc-term {
    width: 100%;
    text-align: left;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-top: none;
  }
}
.desc-desc {
  line-height: 1.3125;
  padding: 15px 0;
  width: 75%;
  font-size: 0.9375rem;
  border-top: 1px solid #e7e7e7;
}
.desc-desc:last-of-type {
  border-bottom: 1px solid #e7e7e7;
}
@media screen and (max-width: 1024px) {
  .desc-desc br {
    display: none;
  }
}
@media screen and (max-width: 599px) {
  .desc-desc {
    width: 100%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    border-top: none;
    border-bottom: 1px solid #e7e7e7;
  }
}
/*# sourceMappingURL=style.css.map */